{% extends 'base.html' %}

{% block content %}
{% for field, errors in form.errors.items() %}
    <div class="alert error">
        {{ ', '.join(errors) }}
    </div>
{% endfor %}
<form method="POST" action="/login">
    {{ form.csrf_token }}
    <p>{{ form.email.label }}</p>
        <p>{{ form.email }}</p>
    <p>{{ form.password.label }}</p>
        <p>{{ form.password }}</p>

    <p><input type="submit" value="Login"></p>
</form>
{% endblock %}

{% block title %} Login {% endblock %}